/* connect.css */
.connect {
    padding: 60px 0;
    background-color: #fff;
}

.connect__content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.connect__content-image {
    width: 50%;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.onnect__question {
    font-size: 30px;
    color: #080305;
    margin-bottom: 20px;
}

.connect__phraset {
    font-size: 16px;
    color: #707070;
}